<div class="first_view">
  <div class="top_message">
    <h1>CostManagement</h1>
    <p>食材原価への追求</p>
  </div>
</div>
<div id="about">
  <h2>概要</h2>
  <div class="about_container">
    <div class="about_image"></div>
    <div class="about_explanation">
      <h3>原価計算アプリ</h3>
      <p>このサイトでは食材やメニューなど登録することにより
        理論原価を算出し、実際の原価との差異を確認することができます
        差異を確認することにより、原価が高い理由はメニューにあるものなのか
        食材調理や廃棄などのロスにあるものなのかが確認できます。
        <br>メニュー開発や構成などにお役立てください。</p>
    </div>
  </div>
</div>
