<div class="wrapper">
  <div class="side">
    <ul>
      <li>食材登録</li>
      <li>食材編集</li>
      <li>メニュー登録</li>
      <li>メニュー一覧</li>
      <li>月間出数登録</li>
    </ul>
  </div>
  <div class="content">
    <h1>Users#show</h1>
    <p>マイページ</p>
    <p>理論原価率.*詳細ページ,ABC分析,単価売上構成比</p>
  </div>
</div>
