<h1>食材一覧</h1>
<table class="index_table">
  <tr>
    <th>食材名</th>
    <th>キログラム単価　円/kg</th>
    <th colspan="2"></th>
  </tr>
  <% @foods.each do |food| %>
    <tr>
      <td><%= food.name %></td>
      <td><%= food.unit_price_per_kilo %></td>
      <td><%= button_to '編集', edit_food_path(food), method: :get %></td>
      <td><%= button_to '削除', food_path(food), method: :delete, form: { data: { turbo_confirm: "本当に削除しますか？" } } %></td>
    </tr>
  <% end %>
</table>
