/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ヘッダー */
header {
  background-color: rgb(203, 203, 203);
  position: fixed;
  top: 0;
  width: 100%;
}

header h1 {
  font-family: cursive;
  margin: 0px 10px;
  margin-right: auto;
}

header ul {
  list-style: none;
  display: flex;
  margin: 0px;
  padding: 5px 0px;
  align-items: center;
}

header li {
  display: inline-block;
  padding: 5px 7px 0px 7px;
  letter-spacing: 2px;
}

/* フラッシュメッセージ */
.flash_message {
  margin: 1px;
}

.notice { 
  background-color: rgba(126, 252, 0, 0.3);
}

.alert {
  background-color: rgba(255, 0, 0, 0.3)
}

/* トップページ */
.first_view {
  background-image: url(top_image);
  background-size: 100% auto;
  background-color: rgba(255,255,255,0.5);
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  margin-top: 48px;
}

.top_message {
  text-align: center;
  padding-bottom: 100px;
}

.top_message h1 {
  padding-top: 20%;
  margin-top: 0px;
  font-family: cursive;
}

#about {
  background-color: #e2e2e3;
  padding-bottom: 20px;
}

#about h2 {
  text-align: center;
  margin-top: 0px;
  padding-top: 30px;
}

.about_image {
  width: 300px;
  height: 300px;
  border-radius:50%;
  background-position: -40px 0px;
  background-image: url("top_about.jpg");
  background-size: cover;
}

.about_container {
  display: flex;
  justify-content: space-around;
}

.about_explanation {
  width: 50%;
}

footer {
  text-align: center;
  margin: 0px;
  padding: 10px 0px;
  background-color: rgb(203, 203, 203);
}

/* サイドバー */
.side {
  background-color: rgb(110, 167, 174);
  width: 30%;
  height: 300px;
  text-align: center;
}

.side ul {
  list-style: none;
  padding-inline-start: 0px;
}

.wrapper {
  display: flex;
}

/* コンテンツ */
.content {
  background-color:red;
  width: 70%;
  margin-left: 10px;
}

/* 表 */
table {
  text-align: center;
  border-collapse: collapse;
  border: 1px solid;
 }

 th {
  padding: 10px;
  background-color: #e3faf8;
  border: dashed 1px #748ca5;
 }
 
 td {
  padding: 10px;
  border: dashed 1px #748ca5;
 }

 tr:nth-child(odd) {
  background: #e9faf9;
 }

 tr:nth-child(even) {
   background: white;
 }

 #goukei {
   background: rgb(195, 195, 242)
 }

@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
  .about_container {
    display: block;
  }

  .about_image {
    margin: 0 auto;
  }

  .about_explanation {
    margin: 0 auto;
  }

}
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
  #about {
    color: red;
  }

  header li {
    display: none;
  }

  .top_message {
    padding-bottom: 20px;
  }

  
}
